:root {
    --image-width: 30vw;
    --overlay-text-size: 4rem;
}

:root.light {
    --text-color: black;
    --background-color: white;
}

:root.dark {
    --text-color: white;
    --background-color: black;
}
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@media (min-width: 900px) {
    html {
        font-size: 24px;
    }
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                    "Helvetica Neue", sans-serif;
}

.image-container {
    background-image: url("assets/background-image.jpg");
    background-repeat: no-repeat;
    background-color: gray;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: var(--image-width);
}

.image-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: max(90px, 15%);
    width: var(--image-width);
    /* child of .image-container */
    position: absolute;
    top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@font-face {
    src: url(assets/Norse-Bold.otf);
    font-family: "Norse-Bold";
}

.overlay-text {
    font-family: "Norse-Bold";
    font-size: 80px;
    color: white;
    
}

.overlay-logo {
    width: 80px;
    height: auto;
}

.form-container {
    flex: 1;
    background-color: #ebebeb;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.form-header {
    margin: 120px 32px 32px 32px;
    line-height: 1.5rem;
}

.basic-form {
    background-color: white;
    padding: 1rem;
    margin: 16px 0 16px 0;
}

.form-controls {
    display: flex;
    font-weight: bold;
}

.form-controls > div {
    font-size: 0.5rem;
    margin: 1rem;
}

.form-controls > div input {
    margin: 0 0 1rem 0;
}