/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --image-width: 30vw;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                    "Helvetica Neue", sans-serif;
}

.image-container {
    background-image: url("assets/background-image.jpg");
    background-repeat: no-repeat;
    background-color: gray;
    background-position: center;
    background-size: cover;
    height: auto;
    width: var(--image-width);
    overflow: hidden;
    
}

.image-overlay {
    position: relative;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    height: max(200px, 15%);
    width: var(--image-width);
    /* child of .image-container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

@font-face {
    src: url(assets/Norse-Bold.otf);
    font-family: "Norse-Bold";
}

.overlay-text {
    font-family: "Norse-Bold";
    font-size: 80px;
    color: white;
    overflow: hidden;
    
}

.overlay-logo {
    width: 80px;
    height: auto;
}

.form-container {
    flex: 1;
    background-color: #ebebeb;
}

.form-header {
    margin: 80px 32px 32px 32px;
    line-height: 1.5rem;
}

.form-controls legend {
    padding: 0;
    margin: 0;
    position: relative;
    left: 16px;
    top: 24px;
    
}
/* Using JS, flex-direction: column when screen height > width */
.form-controls {
    display: flex;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 4px 8px lightgray, 0px -4px 8px lightgray;
    margin: 1rem 0 1rem 0;
    padding-top: 2rem;
}

.form-controls > div {
    font-size: 0.5rem;
    margin: 1rem;
    flex: 1;
}

.form-controls > div input {
    margin: 0 0 1rem 0;
    padding: 8px;
    width: 80%;
}

@media (min-width: 500px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 390px) {
    .transparent-title {
        opacity: 1;
    }

    .overlay-text {
        font-size: 60px;
    }

}